# Exemplo DS

https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction

## Imports

In [1]:
import numpy as np
import pandas as pd

## Ler dados

In [2]:
df = pd.read_csv("../data/heart.csv")
df.shape

(918, 12)

In [3]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

## Preenchimento de nulos

In [5]:
df["Age"] = df["Age"].fillna("NI")

## Alteração de valores

In [6]:
df["Sex"] = np.where(df["Sex"] == "M", "Masculino", "Feminino")

In [7]:
df["Sex"].unique()

array(['Masculino', 'Feminino'], dtype=object)

In [8]:
pain_type = {"TA": "Typical Angina", 
             "ATA": "Atypical Angina", 
             "NAP": "Non-Anginal Pain", 
             "ASY": "Asymptomatic"}

df["ChestPainType"] = df["ChestPainType"].apply(lambda x: pain_type[x])

In [9]:
df["ChestPainType"].unique()

array(['Atypical Angina', 'Non-Anginal Pain', 'Asymptomatic',
       'Typical Angina'], dtype=object)

In [10]:
rest_ecg = {"Normal": "Normal", 
            "ST": "having ST-T wave abnormality", 
            "LVH": "showing probable or definite left ventricular hypertrophy by Estes criteria"}

df["RestingECG"] = df["RestingECG"].apply(lambda x: rest_ecg[x])

In [11]:
df["RestingECG"].unique()

array(['Normal', 'having ST-T wave abnormality',
       'showing probable or definite left ventricular hypertrophy by Estes criteria'],
      dtype=object)

In [12]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,Masculino,Atypical Angina,140,289,0,Normal,172,N,0.0,Up,0
1,49,Feminino,Non-Anginal Pain,160,180,0,Normal,156,N,1.0,Flat,1
2,37,Masculino,Atypical Angina,130,283,0,having ST-T wave abnormality,98,N,0.0,Up,0
3,48,Feminino,Asymptomatic,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,Masculino,Non-Anginal Pain,150,195,0,Normal,122,N,0.0,Up,0

## Remoção de dados duplicados

In [13]:
df[df.duplicated()]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [14]:
# df.drop_duplicates(subset=[""])

## Salvar dados

In [15]:
df.to_csv("../data/heart_processed.csv", index=False)