In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv("../data/diabetes_dataset.csv")
df.shape

(10000, 21)

In [29]:
df.head()

,Unnamed: 0,Age,Sex,Ethnicity,BMI,Waist_Circumference,Fasting_Blood_Glucose,HbA1c,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,...,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes
0,0,58,Female,White,35.8,83.4,123.9,10.9,152,114,...,50.2,99.2,37.5,7.2,Moderate,1538,Moderate,Never,0,1
1,1,48,Male,Asian,24.1,71.4,183.7,12.8,103,91,...,62.0,146.4,88.5,6.1,Moderate,2653,Moderate,Current,0,1
2,2,34,Female,Black,25.0,113.8,142.0,14.5,179,104,...,32.1,164.1,56.2,6.9,Low,1684,Heavy,Former,1,0
3,3,62,Male,Asian,32.7,100.4,167.4,8.8,176,118,...,41.1,84.0,34.4,5.4,Low,3796,Moderate,Never,1,0
4,4,27,Female,Asian,33.5,110.8,146.4,7.1,122,97,...,53.9,92.8,81.9,7.4,Moderate,3161,Heavy,Current,0,0

In [30]:
df.isna().sum()

Unnamed: 0                          0
Age                                 0
Sex                                 0
Ethnicity                           0
BMI                                 0
Waist_Circumference                 0
Fasting_Blood_Glucose               0
HbA1c                               0
Blood_Pressure_Systolic             0
Blood_Pressure_Diastolic            0
Cholesterol_Total                   0
Cholesterol_HDL                     0
Cholesterol_LDL                     0
GGT                                 0
Serum_Urate                         0
Physical_Activity_Level             0
Dietary_Intake_Calories             0
Alcohol_Consumption              3320
Smoking_Status                      0
Family_History_of_Diabetes          0
Previous_Gestational_Diabetes       0
dtype: int64

In [31]:
df["Sex"] = df["Sex"].fillna("NI")

In [49]:
df["Sex"] = np.where(df["Sex"] == "Male", "Masculino", "Feminino")

In [51]:
df["Sex"].unique()

array(['Feminino'], dtype=object)

In [34]:
ethnicity = {"White": "Branco",
              "Asian": "Asiatico",
              "Black": "Preto",
              "Hispanic": "Hispanico"}

df["Ethnicity"] = df["Ethnicity"].apply(lambda x: ethnicity[x])

In [35]:
df["Ethnicity"].unique()

array(['Branco', 'Asiatico', 'Preto', 'Hispanico'], dtype=object)

In [36]:
physical_Activity_Level = {"Moderate": "Moderado",
            "Low": "Baixo",
            "High": "Alto"}

df["Physical_Activity_Level"] = df["Physical_Activity_Level"].apply(lambda x: physical_Activity_Level[x])

In [37]:
df["Physical_Activity_Level"].unique()

array(['Moderado', 'Baixo', 'Alto'], dtype=object)

In [38]:
df.head()

,Unnamed: 0,Age,Sex,Ethnicity,BMI,Waist_Circumference,Fasting_Blood_Glucose,HbA1c,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,...,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes
0,0,58,Feminino,Branco,35.8,83.4,123.9,10.9,152,114,...,50.2,99.2,37.5,7.2,Moderado,1538,Moderate,Never,0,1
1,1,48,Feminino,Asiatico,24.1,71.4,183.7,12.8,103,91,...,62.0,146.4,88.5,6.1,Moderado,2653,Moderate,Current,0,1
2,2,34,Feminino,Preto,25.0,113.8,142.0,14.5,179,104,...,32.1,164.1,56.2,6.9,Baixo,1684,Heavy,Former,1,0
3,3,62,Feminino,Asiatico,32.7,100.4,167.4,8.8,176,118,...,41.1,84.0,34.4,5.4,Baixo,3796,Moderate,Never,1,0
4,4,27,Feminino,Asiatico,33.5,110.8,146.4,7.1,122,97,...,53.9,92.8,81.9,7.4,Moderado,3161,Heavy,Current,0,0

In [39]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Age, Sex, Ethnicity, BMI, Waist_Circumference, Fasting_Blood_Glucose, HbA1c, Blood_Pressure_Systolic, Blood_Pressure_Diastolic, Cholesterol_Total, Cholesterol_HDL, Cholesterol_LDL, GGT, Serum_Urate, Physical_Activity_Level, Dietary_Intake_Calories, Alcohol_Consumption, Smoking_Status, Family_History_of_Diabetes, Previous_Gestational_Diabetes]
Index: []

[0 rows x 21 columns]

In [40]:
df.to_csv("../Diabetes_process.csv", index=False)